/* ACERCA.CSS */
/* .bioExpoBtn-div{ */
    /* display: flex;
    justify-content: space-around; */
/* } */
.btn-1{
    position: absolute;
    margin-top: 3%;
    left: 25%;
}
.btn-2{
    position: absolute;
    margin-top: 3%;
    right: 25%;
}

.div-bio-expo {
    width: 90%;
    /* max-width: 1200px;  */
    /* Limita el ancho máximo para una mejor visualización en pantallas grandes */
    margin: auto;
    margin-bottom: 1rem;
    padding: 10px;
    box-sizing: border-box; 
    /* Incluye padding en el cálculo del ancho */
    /* border: solid 1px yellow; */
}
.img-biografia {
    /* /* position: absolute; */
    /* margin-top: 20%; */
    /* top: 20%; */
    width: 90%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
    height: auto;
    margin: 1rem auto; /* Centra la imagen horizontalmente */
    display: block; /* Elimina el espacio extra que dejan los elementos inline */
    border: solid 1px;
    cursor: pointer;
}